.navbar {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 10px; 
    justify-items: center;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #878dbb;
}

.navbar a:hover {
    text-decoration: none;
    color: #576ac2;
}

.body {
    box-shadow: 0px 0px 7px 1px #c0e1e6;
    border-radius: 5px;
    height: 100%;
    width: 80%;
    justify-self: center;
    justify-items: center;
    background-color: #f9fbfc;
    padding: 10px;
}

.body h2 {
    color: #283572;
}

th {
    justify-items: left;
}

.locationCardsTitle {
    background-color: #f0f0f0;
    padding: 15px;
    color: #283572;
    font-size: small;
    width: 1200px;
    max-width: 90%;
    justify-items: center;
}

.locationCardsTable {
    padding: 15px;
    color: #283572;
    font-size: small;
    width: 1200px;
    max-width: 90%;
    justify-items: center;
}



hr {
    border: none;        
    height: 1px;        
    background-color: rgb(223, 221, 233); 
    width: 100%;        
}

.locationNameBoxes {
    background-color: rgb(237, 235, 245); 
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

.favouriteButton{
    align-self: left;
    border-color: #0022b9;
    border-radius: 7px;
    border-width: 1px;
    width: 30px;
    height: 30px;
    background-color: #fcfcfc;
    color:#0022b9;
}

.favouriteButton:hover{
    background-color: #e9ebf3;
}